__pycache__/
*.py[cod]
*$py.class

.Python
.venv/
venv/
env/

build/
dist/
target/
wrappers/rust/Cargo.lock
*.egg-info/
*.dll
*.lib
*.pdb
*.pyd
*.so
librangemap/native/
bin/
obj/

.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ruff_cache/

*.log
*.tmp
